<nav class="navbar navbar-expand-lg navbar-light bg-light PSP-nav">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li [routerLinkActiveOptions]="{ exact: true }" class="nav-item" routerLinkActive="active">
        <a class="nav-link" id="btnNavBarGestionAccueil" routerLink="/">
          <span translate="global.menu.accueil"></span>
        </a>
      </li>
      <li class="nav-item"
          routerLinkActive="active">
        <a class="nav-link" id="btnNavBarVentes" routerLink="ventes">
          <span translate="global.menu.ventes"></span>
        </a>
      </li>
      <li class="nav-item"
          routerLinkActive="active">
        <a class="nav-link" id="btnNavBarCommissions" routerLink="commissions">
          <span translate="global.menu.commissions"></span>
        </a>
      </li>
    </ul>
  </div>
  <div class="text-right">
    <ul class="navbar-nav">
      <li class="nav-item dropdown text-right" dropdown routerLinkActive="active"
          placement="bottom right">
        <a class="nav-link" id="btnNavBarParametrages" data-toggle="dropdown" dropdownToggle>
          <fa-icon [icon]="faBar" class="dropdown-toggle"></fa-icon>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
          <a class="nav-link dropdown-item" id="btnNavBarParametragesNegociateur"
             routerLink="negociateurs">
            {{ 'global.menu.negociateurs' | translate }}
          </a>
          <a class="nav-link" id="btnNavBarImportDonnees" routerLink="parametrage/importFichier">
            {{ 'global.menu.importer.fichier' | translate }}
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
