<div class="container-fluid">
    <div class="row w-100 mx-0">
        <ngx-datatable
            [columnMode]="ColumnMode.force"
            [footerHeight]="0"
            [headerHeight]="40"
            [loadingIndicator]="false"
            [messages]="{
                   emptyMessage: 'global.commun.composant.datatable.vide' | translate ,
                   totalMessage: 'global.commun.composant.datatable.total' | translate
                   }"
            [rowHeight]="'auto'"
            [rows]="commissions"
            class="bootstrap table-bordered col-12 mx-0 px-0 mb-3 w-100 ">

            <!-- Negociateur -->
            <ngx-datatable-column [flexGrow]="5"
                                  [name]="'gestion.commission.negociateur' | translate"
                                  class="pr-0">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.negociateur.nomCourt }}
                </ng-template>
            </ngx-datatable-column>

            <!-- Montant HT -->
            <ngx-datatable-column
                [name]="'gestion.commission.montant.ht' | translate"
                class="pr-0">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.montantHT  }}
                </ng-template>
            </ngx-datatable-column>

            <!-- bouton afficher / masquer des colonnes --->
            <ngx-datatable-column [draggable]="false"
                                  [flexGrow]="1"
                                  [resizeable]="false"
                                  cellClass="text-center">
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>
