<main class="container-fluid" role="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 p-2 text-right">
        <button id="ajoutNegociateur" class="btn btn-primary" (click)="creerNegociateur()"
                translate='gestion.negociateurs.ajout'></button>
      </div>
    </div>
    <ul>
      <li *ngFor="let negociateur of negociateurs">
        <a (click)="modifierNegociateur(negociateur)">
          {{ negociateur.nomCourt }}
        </a>
      </li>
    </ul>
  </div>
</main>



