<fieldset class="footer container-fluid">
  <div class="row">
    <div class="col-md-12 text-right">
      <button (click)="retour()"
              *ngIf="mode === Mode.EDITION || Mode.CONSULTATION"
              class="btn btn-danger mr-2"
              id="btnFermerConsultation"
              type="button">
        {{ "commun.bouton.fermer" | translate }}
        <i class="fas fa-times ml-2"></i>
      </button>
      <button (click)="modifierVente()"
              [ngClass]="!form.valid ? 'btn.disabled': 'btn-success'"
              [disabled]="!form.valid"
              *ngIf="mode === Mode.EDITION"
              class="btn"
              id="btnConfirmerModification"
              type="button">
        {{ "commun.bouton.enregistrer.modification" | translate }}
        <i class="fas fa-check ml-2"></i>
      </button>
      <button (click)="enregistrerVente()"
              *ngIf="mode === Mode.CREATION"
              [ngClass]="!form.valid ? 'btn.disabled': 'btn-success'"
              [disabled]="!form.valid"
              class="btn"
              id="btnAjouterVente"
              type="button">
        {{ "commun.bouton.valider" | translate }}
        <i class="fas fa-times ml-2"></i>
      </button>
    </div>
  </div>
</fieldset>
