<form #form="ngForm" autocomplete="off" class="card-body" novalidate>
  <fieldset #fieldSetElement class="card w-100 my-2 mb-5">
    <div class="card-body">
      <!-- Ligne 1 : Adresse Numero -->
      <div class="row align-items-end">
        <div class="col-3">
          <div class="form-group">
            <label class="required" for="adresse_numero"
                   translate="gestion.adresse.numero"></label>
            <input [(ngModel)]="adresse.numeroVoie"
                   class="form-control"
                   id="adresse_numero"
                   name="adresse_numero"
                   required/>
          </div>
        </div>
        <!-- Ligne 1 : Adresse nomVoie -->
        <div class="col-3">
          <div class="form-group">
            <label class="required" for="adresse_nomVoie"
                   translate="gestion.adresse.nom.voie"></label>
            <input [(ngModel)]="adresse.nomVoie"
                   class="form-control"
                   id="adresse_nomVoie"
                   name="adresse_nomVoie"
                   required/>
          </div>
        </div>
        <!-- Ligne 2 : Adresse code Postal -->
        <div class="col-3">
          <div class="form-group">
            <label class="required" for="adresse_codePostal"
                   translate="gestion.adresse.code.postal"></label>
            <input [(ngModel)]="adresse.codePostal"
                   class="form-control"
                   id="adresse_codePostal"
                   name="adresse_codePostal"
                   required/>
          </div>
        </div>
        <!-- Ligne 2 : Adresse Ville -->
        <div class="col-3">
          <div class="form-group">
            <label class="required" for="adresse_ville"
                   translate="gestion.adresse.ville"></label>
            <input [(ngModel)]="adresse.ville"
                   class="form-control"
                   id="adresse_ville"
                   name="adresse_ville"
                   required/>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>



