<div class="container-fluid">
    <accordion [isAnimated]="true">
        <accordion-group *ngFor="let negociateur of negociateurs">
            <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
                <div class="pull-left float-left"><strong>CA : {{negociateur.nomCourt}}</strong>
                </div>
                <div class="pull-right float-right"><strong>{{afficherObjectif(
                    negociateur)}}</strong>
                </div>
            </button>
            <jhi-tableau-ventes-negociateur
                [negociateur]="negociateur"></jhi-tableau-ventes-negociateur>
        </accordion-group>
    </accordion>
</div>
