<main class="container-fluid" role="main">
  <form #form="ngForm" autocomplete="off" class="card-body" novalidate>
    <div class="row align-items-start mb-2">
      <div class="col-12">
        <h5 *ngIf="mode === ModeEnum.CREATION"
            translate="gestion.vente.creation.titre"></h5>
        <h5
          *ngIf="mode === ModeEnum.EDITION"> {{ 'gestion.vente.modification.titre' | translate }}
          {{venteEditer.id}}</h5>
      </div>
    </div>
    <!-- Adresse -->
    <h5 translate="gestion.vente.creation.adresse"></h5>
    <app-adresse [adresse]="venteEditer.adresse" [mode]="mode"></app-adresse>
    <!-- Honoraires -->
    <h5 translate="gestion.vente.creation.honoraires"></h5>
    <app-editer-vente-honoraires [vente]="venteEditer" [mode]="mode"></app-editer-vente-honoraires>
    <!-- Acquereurs -->
    <h5 translate="gestion.vente.creation.acquereurs"></h5>
    <app-editer-vente-acquereurs-vendeurs [vente]="venteEditer" [champ]="ChampVendeur.ACQUEREUR"
                                          [mode]="mode"></app-editer-vente-acquereurs-vendeurs>
    <!-- Vendeurs -->
    <h5 translate="gestion.vente.creation.vendeurs"></h5>
    <app-editer-vente-acquereurs-vendeurs [vente]="venteEditer" [champ]="ChampVendeur.VENDEUR"
                                          [mode]="mode"></app-editer-vente-acquereurs-vendeurs>
    <!-- Commissions Entrees -->
    <h5 translate="gestion.vente.creation.commissions.entree"></h5>
    <app-editer-vente-commissions [mode]="mode" [champ]="ChampCommission.ENTREE"
                                  [vente]="venteEditer"></app-editer-vente-commissions>
    <!-- Commissions Sorties -->
    <h5 translate="gestion.vente.creation.commissions.sortie"></h5>
    <app-editer-vente-commissions [mode]="mode" [champ]="ChampCommission.SORTIE"
                                  [vente]="venteEditer"></app-editer-vente-commissions>

    <br>
    <br>
    <br>

    <!-- Action -->
    <app-editer-vente-action [mode]="mode" [vente]="venteEditer"></app-editer-vente-action>
  </form>
</main>



