<main class="container-fluid" role="main">
    <form [formGroup]="registerForm" autocomplete="off" class="card-body" novalidate>
        <fieldset #fieldSetElement class="align-items-end">
            <div class="row align-items-start mb-2">
                <div class="col-12">
                    <h5 *ngIf="mode === ModeEnum.CREATION"
                        translate="gestion.negociateur.creation.titre"></h5>
                    <h5
                        *ngIf="mode === ModeEnum.EDITION"> {{ 'gestion.negociateur.modification.titre' | translate }}
                        &mdash; {{negociateur.nomCourt}}</h5>
                </div>
            </div>
            <!-- Ligne 1 : Nom -->
            <div class="row align-items-end">
                <div class="col-6">
                    <div class="form-group">
                        <label class="required" for="negociateur_nom"
                               translate="gestion.negociateur.nom"></label>
                        <input [ngModel]="negociateur.nom"
                               class="form-control"
                               id="negociateur_nom"
                               name="negociateur_nom"
                               formControlName="nom"/>
                    </div>
                </div>
                <!-- Ligne 1 : Prénom -->
                <div class="col-6">
                    <div class="form-group">
                        <label class="required" for="negociateur_prenom"
                               translate="gestion.negociateur.prenom"></label>
                        <input [ngModel]="negociateur.prenom"
                               class="form-control"
                               id="negociateur_prenom"
                               name="negociateur_prenom"
                               formControlName="prenom"/>
                    </div>
                </div>
            </div>
            <!-- Ligne 2 : Nom Court -->
            <div class="row align-items-end">
                <div class="col-6">
                    <div class="form-group">
                        <label class="required" for="negociateur_nomCourt"
                               translate="gestion.negociateur.nomCourt"></label>
                        <input [ngModel]="negociateur.nomCourt"
                               class="form-control"
                               id="negociateur_nomCourt"
                               name="negociateur_nomCourt"
                               formControlName="nomCourt"/>
                    </div>
                </div>
                <!-- Ligne 2 : Actif/Inactif -->
                <div class="col-6">
                    <div class="form-group">
                        <label class="required" for="negociateur_actif_oui"
                               translate="gestion.negociateur.actif"></label>
                        <div class="row">
                            <div class="col">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input [ngModel]="negociateur.actif"
                                           [value]="true"
                                           class="custom-control-input" id="negociateur_actif_oui"
                                           name="actif"
                                           formControlName="actif"
                                           type="radio"/>
                                    <label class="custom-control-label font-weight-normal"
                                           for="negociateur_actif_oui"
                                           translate="global.commun.champ.oui"></label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input [ngModel]="negociateur.actif"
                                           [value]="false"
                                           class="custom-control-input" id="negociateur_actif_non"
                                           name="actif"
                                           formControlName="actif"
                                           type="radio"/>
                                    <label class="custom-control-label font-weight-normal"
                                           for="negociateur_actif_non"
                                           translate="global.commun.champ.non"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Ligne 4 : Annuler / Valider -->
            <div class="row align-items-end">
                <div class="col-12 text-right">
                    <button (click)="annuler.emit()"
                            *ngIf="mode === ModeEnum.CREATION || mode === ModeEnum.EDITION"
                            class="btn btn-danger mt-5 mr-2"
                            id="btnAnnulerCreation"
                            type="button">
                        {{ "global.commun.bouton.annuler" | translate }}
                        <fa-icon icon="times" class="ml-2"></fa-icon>
                    </button>
                    <button (click)="fermer.emit()"
                            *ngIf="mode === ModeEnum.CONSULTATION"
                            class="btn btn-danger mt-5 mr-2"
                            id="btnFermerConsultation"
                            type="button">
                        {{ "global.commun.bouton.fermer" | translate }}
                        <fa-icon icon="times" class="ml-2"></fa-icon>
                    </button>
                    <button (click)="onEnregistrer()"
                            *ngIf="mode === ModeEnum.CREATION"
                            [disabled]="!registerForm.valid"
                            [ngClass]="registerForm.valid ? 'btn-success': 'btn.disabled'"
                            class="btn mt-5"
                            id="btnConfirmerCreation"
                            type="button">
                        {{ "global.commun.bouton.creer" | translate }}
                        <fa-icon [icon]="faCheck" class="ml-2"></fa-icon>
                    </button>
                    <button (click)="onModifier()"
                            *ngIf="mode === ModeEnum.EDITION"
                            [disabled]="!registerForm.valid"
                            [ngClass]="registerForm.valid ? 'btn-success' : 'btn.disabled'"
                            class="btn mt-5"
                            id="btnConfirmerModification"
                            type="button">
                        {{ "global.commun.bouton.enregistrer.modification" | translate }}
                        <fa-icon [icon]="faCheck" class="ml-2"></fa-icon>
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
</main>



