<main class="container-fluid" role="main" xmlns="http://www.w3.org/1999/html">
    <form autocomplete="off" class="card-body" [formGroup]="registerForm" novalidate>
        <fieldset #fieldSetElement class="align-items-end">
            <div class="row align-items-start mb-2">
                <div class="col-12">
                    <h5 *ngIf="mode === ModeEnum.CREATION"
                        translate="gestion.origine.creation.titre"></h5>
                    <h5
                        *ngIf="mode === ModeEnum.EDITION"> {{ 'gestion.origine.modification.titre' | translate }}
                        &mdash; {{origine.libelle}}</h5>
                </div>
            </div>
            <!-- Ligne 1 : Libellé -->
            <div class="row align-items-end">
                <div class="col-6">
                    <div class="form-group">
                        <label class="required" for="origine_libelle"
                               translate="gestion.origine.libelle"></label>
                        <input [ngModel]="origine.libelle"
                               class="form-control"
                               formControlName="libelle"
                               id="origine_libelle"
                               name="origine_libelle"/>
                    </div>
                </div>
            </div>
            <!-- Ligne 2 : Choix Type Origine -->
            <div class="row align-items-end">
                <div class="col-12">
                    <div class="form-group">
                        <label class="required"
                               translate="gestion.origine.type.origine"></label>
                        <div class="row">
                            <div class="col">
                                <div *ngFor="let item of TypeOrigines | keyvalue"
                                     class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" [id]="item.key"
                                           [value]="item.key"
                                           [ngModel]="origine.typeOrigine"
                                           formControlName="typeOrigine"
                                           class="custom-control-input">
                                    <label class="custom-control-label font-weight-normal"
                                           [for]="item.key">{{ item.value }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Ligne 3 : Annuler / Valider -->
            <div class="row align-items-end">
                <div class="col-12 text-right">
                    <button (click)="annuler.emit()"
                            *ngIf="mode === ModeEnum.CREATION || mode === ModeEnum.EDITION"
                            class="btn btn-danger mt-5 mr-2"
                            id="btnAnnulerCreation"
                            type="button">
                        {{ "global.commun.bouton.annuler" | translate }}
                        <fa-icon icon="times" class="ml-2"></fa-icon>
                    </button>
                    <button (click)="fermer.emit()"
                            *ngIf="mode === ModeEnum.CONSULTATION"
                            class="btn btn-danger mt-5 mr-2"
                            id="btnFermerConsultation"
                            type="button">
                        {{ "global.commun.bouton.fermer" | translate }}
                        <fa-icon icon="times" class="ml-2"></fa-icon>
                    </button>
                    <button (click)="onEnregistrer()"
                            *ngIf="mode === ModeEnum.CREATION"
                            [disabled]="!registerForm.valid"
                            [ngClass]="registerForm.valid ? 'btn-success': 'btn.disabled'"
                            class="btn mt-5"
                            id="btnConfirmerCreation"
                            type="button">
                        {{ "global.commun.bouton.creer" | translate }}
                        <fa-icon [icon]="faCheck" class="ml-2"></fa-icon>
                    </button>
                    <button (click)="onModifier()"
                            *ngIf="mode === ModeEnum.EDITION"
                            [disabled]="!registerForm.valid"
                            [ngClass]="registerForm.valid ? 'btn-success' : 'btn.disabled'"
                            class="btn mt-5"
                            id="btnConfirmerModification"
                            type="button">
                        {{ "global.commun.bouton.enregistrer.modification" | translate }}
                        <fa-icon [icon]="faCheck" class="ml-2"></fa-icon>
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
</main>



