<form [formGroup]="venteAcquereursForm" autocomplete="off" class="card-body" novalidate>
    <fieldset #fieldSetElement class="card w-100">
        <div class="card-body">
            <div class="row w-100 mx-0">
                <ngx-datatable
                    [columnMode]="ColumnMode.flex"
                    [footerHeight]="0"
                    [headerHeight]="40"
                    [loadingIndicator]="false"
                    [messages]="{
                   emptyMessage: 'global.commun.composant.datatable.vide' | translate ,
                   totalMessage: 'global.commun.composant.datatable.total' | translate
                   }"
                    [rowHeight]="'auto'"
                    [rows]="personnes"
                    class="bootstrap table-bordered col-12 mx-0 px-0 mb-3 w-100 ">

                    <!-- Nom -->
                    <ngx-datatable-column [flexGrow]="7.5"
                                          [name]="'gestion.personne.nom' | translate"
                                          class="pr-0">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.nom }}
                        </ng-template>
                    </ngx-datatable-column>

                    <!-- Prenom -->
                    <ngx-datatable-column
                        [flexGrow]="7.5"
                        [name]="'gestion.personne.prenom' | translate"
                        class="pr-0">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.prenom }}
                        </ng-template>
                    </ngx-datatable-column>

                    <!-- bouton afficher / masquer des colonnes --->
                    <ngx-datatable-column [draggable]="false"
                                          [flexGrow]="1"
                                          [resizeable]="false"
                                          cellClass="text-center">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <fa-icon (click)="editerPersonne(row)" [icon]="faEdit"></fa-icon>
                            <fa-icon (click)="supprimerPersonne(row)" [icon]="faTrash"
                                     class="ml-2"></fa-icon>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>

            <div *ngIf="editionEnCours" class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label class="required" for="personneNom"
                               translate="gestion.personne.nom"></label>
                        <input [ngModel]="personneEnEdition.nom"
                               class="form-control"
                               id="personneNom"
                               name="personneNom"
                               formControlName="personneNom"/>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label class="required" for="personnePrenom"
                               translate="gestion.personne.prenom"></label>
                        <input [ngModel]="personneEnEdition.prenom"
                               class="form-control"
                               id="personnePrenom"
                               name="personnePrenom"
                               formControlName="personnePrenom"/>
                    </div>
                </div>
                <div class="col-4 text-right mt-4">
                    <button id="annulerAjoutPersonne" class="btn btn-secondary mr-2"
                            (click)="editionEnCours = false"
                            translate='global.commun.bouton.annuler'></button>
                    <button id="validerAjoutPersonne" class="btn btn-primary"
                            (click)="ajouterPersonne()"
                            [disabled]="!venteAcquereursForm.valid"
                            translate='global.commun.bouton.valider'></button>
                </div>
            </div>
            <div *ngIf="!editionEnCours" class="row">
                <div class="col-12 text-right">
                    <button id="ajoutPersonne" class="btn btn-primary"
                            (click)="editerPersonne(null)"
                            translate='gestion.personne.ajout'></button>
                </div>
            </div>
        </div>
    </fieldset>
</form>
