<form #form="ngForm" autocomplete="off" class="card-body" novalidate>
  <fieldset #fieldSetElement class="align-items-end">
    <!-- Ligne 1 : Date du compromis de vente -->
    <div class="row align-items-end">
      <div class="col-3">
        <div class="form-group">
          <label class="required" for="vente_date_vente_compromis"
                 translate="gestion.vente.date.vente.compromis"></label>
          <div class="input-group">
            <input #dpDateVente="bsDatepicker"
                   [(ngModel)]="vente.dateCompromis"
                   bsDatepicker
                   class="form-control"
                   id="vente_date_vente_compromis"
                   name="vente_date_vente_compromis"
                   placeholder="{{ 'commun.champ.date.placeholder' | translate }}"
                   type="text"
            />
            <div class="input-group-append">
              <button (click)="dpDateVente.toggle()"
                      class="btn-menu"
                      type="button">
                <i aria-hidden="true" class="far fa-calendar-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Ligne 1 : Origine -->
      <div class="col-3">
        <div class="form-group">
          <label class="required" for="vente_origine"
                 translate="gestion.vente.origine"></label>
          <select [(ngModel)]="vente.origine"
                  class="form-control"
                  id="vente_origine"
                  name="vente_origine">
            <option *ngFor="let origine of origines | keyvalue"
                    value="{{origine.key}}">{{origine.value}}</option>
          </select>
        </div>
      </div>
      <!-- Ligne 1 : Honoraires TTC -->
      <div class="col-3">
        <div class="form-group">
          <label class="required" for="vente_honorairesTTC"
                 translate="gestion.vente.honorairesTTC"></label>
          <input [(ngModel)]="vente.honorairesTTC"
                 id="vente_honorairesTTC"
                 name="vente_honorairesTTC"
                 required/>
        </div>
      </div>
      <!-- Ligne 1 : Honoraires HT -->
      <div class="col-3">
        <div class="form-group">
          <label class="required" for="vente_honorairesHT"
                 translate="gestion.vente.honorairesHT"></label>
          <input [(ngModel)]="vente.honorairesHT"
                 id="vente_honorairesHT"
                 name="vente_honorairesHT"
                 required/>
        </div>
      </div>
    </div>

    <div class="row align-items-end">
      <!-- Ligne 2 : Date acte authentique -->
      <div class="col-3">
        <div class="form-group">
          <label class="required" for="vente_date_acte_authentique"
                 translate="gestion.vente.date.acte.authentique"></label>
          <div class="input-group">
            <input #dpDateVente="bsDatepicker"
                   [(ngModel)]="vente.dateActeAuthentique"
                   bsDatepicker
                   class="form-control"
                   id="vente_date_acte_authentique"
                   name="vente_date_acte_authentique"
                   placeholder="{{ 'commun.champ.date.placeholder' | translate }}"
                   type="text"
            />
            <div class="input-group-append">
              <button (click)="dpDateVente.toggle()"
                      class="btn-menu"
                      type="button">
                <i aria-hidden="true" class="far fa-calendar-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Ligne 2 : Numéro Facture -->
      <div class="col-3">
        <div class="form-group">
          <label class="required" for="vente_numero_facture"
                 translate="gestion.vente.numero.facture"></label>
          <input [(ngModel)]="vente.numeroFacture"
                 id="vente_numero_facture"
                 name="vente_numero_facture"
                 required/>
        </div>
      </div>
      <!-- Ligne 2 : Type de bien -->
      <div class="col-3">
        <div class="form-group">
          <label class="required" for="vente_type_bien"
                 translate="gestion.vente.type.bien"></label>
          <select [(ngModel)]="vente.typeBien"
                  class="form-control"
                  id="vente_type_bien"
                  name="vente_type_bien">
            <option *ngFor="let origine of origines | keyvalue"
                    value="{{origine.key}}">{{origine.value}}</option>
          </select>
        </div>
      </div>
    </div>
  </fieldset>
</form>
