<form formGroupName="_honoraires" autocomplete="off" class="card-body" novalidate>
    <fieldset #fieldSetElement class="card w-100">
        <div class="card-body">
            <!-- Ligne 1 : Date du compromis de vente -->
            <div class="row align-items-end">
                <div class="col-3">
                    <div class="form-group">
                        <label for="venteDateVenteCompromis"
                               translate="gestion.vente.date.vente.compromis"></label>
                        <div class="input-group">
                            <input #dpDateActeCompromis="bsDatepicker"
                                   [ngModel]="vente.dateCompromis"
                                   bsDatepicker
                                   class="form-control"
                                   id="venteDateVenteCompromis"
                                   name="venteDateVenteCompromis"
                                   placeholder="{{ 'global.commun.champ.date.placeholder' | translate }}"
                                   type="text"
                                   formControlName="venteDateVenteCompromis"
                            />
                            <div class="input-group-append">
                                <button (click)="dpDateActeCompromis.toggle()"
                                        class="btn-menu"
                                        type="button">
                                    <fa-icon icon="calendar-alt"></fa-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Ligne 1 : Origine -->
                <div class="col-3">
                    <div class="form-group">
                        <label class="required" for="venteOrigine"
                               translate="gestion.vente.origine"></label>
                        <ng-select [ngModel]="vente.origine"
                                   [items]="origines"
                                   bindLabel="libelle"
                                   id="venteOrigine"
                                   name="venteOrigine"
                                   formControlName="venteOrigine">
                        </ng-select>
                    </div>
                </div>
                <!-- Ligne 1 : Honoraires TTC -->
                <div class="col-3">
                    <div class="form-group">
                        <label for="venteHonorairesTTC"
                               translate="gestion.vente.honorairesTTC"></label>
                        <input [ngModel]="vente.honorairesTTC"
                               class="form-control"
                               id="venteHonorairesTTC"
                               name="venteHonorairesTTC"
                               formControlName="venteHonorairesTTC"/>
                    </div>
                </div>
                <!-- Ligne 1 : Honoraires HT -->
                <div class="col-3">
                    <div class="form-group">
                        <label for="venteHonorairesHT"
                               translate="gestion.vente.honorairesHT"></label>
                        <input [ngModel]="vente.honorairesHT"
                               class="form-control"
                               id="venteHonorairesHT"
                               name="venteHonorairesHT"
                               formControlName="venteHonorairesHT"/>
                    </div>
                </div>
            </div>

            <div class="row align-items-end">
                <!-- Ligne 2 : Date acte authentique -->
                <div class="col-3">
                    <div class="form-group">
                        <label class="required" for="venteDateActeAuthentique"
                               translate="gestion.vente.date.acte.authentique"></label>
                        <div class="input-group">
                            <input #dpDateActeAuthentique="bsDatepicker"
                                   [ngModel]="vente.dateActeAuthentique"
                                   bsDatepicker
                                   class="form-control"
                                   id="venteDateActeAuthentique"
                                   name="venteDateActeAuthentique"
                                   formControlName="venteDateActeAuthentique"
                                   placeholder="{{ 'global.commun.champ.date.placeholder' | translate }}"
                                   type="text"
                            />
                            <div class="input-group-append">
                                <button (click)="dpDateActeAuthentique.toggle()"
                                        class="btn-menu"
                                        type="button">
                                    <fa-icon icon="calendar-alt"></fa-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Ligne 2 : Numéro Facture -->
                <div class="col-3">
                    <div class="form-group">
                        <label class="required" for="venteNumeroFacture"
                               translate="gestion.vente.numero.facture"></label>
                        <input [ngModel]="vente.numeroFacture"
                               class="form-control"
                               id="venteNumeroFacture"
                               name="venteNumeroFacture"
                               formControlName="venteNumeroFacture"/>
                    </div>
                </div>
                <!-- Ligne 2 : Type de bien -->
                <div class="col-3">
                    <div class="form-group">
                        <label class="required" for="venteTypeBien"
                               translate="gestion.vente.type.bien"></label>
                        <ng-select [ngModel]="vente.typeDeBien"
                                   [items]=" typeDeBiens"
                                   bindLabel="libelle"
                                   id="venteTypeBien"
                                   name="venteTypeBien"
                                   formControlName="venteTypeBien">
                        </ng-select>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>
