<div>
    <div class="row">
        <div class="col-12 p-2 text-right">
            <button id="ajoutVente" class="btn btn-primary" (click)="creer()"
                    translate='gestion.ventes.ajout'></button>
        </div>
    </div>
    <div class="row w-100 mx-0">
        <ngx-datatable
            [columnMode]="ColumnMode.flex"
            headerHeight="auto"
            footerHeight="auto"
            [loadingIndicator]="estChargementEnCours"
            [messages]="{
                   emptyMessage: 'global.commun.composant.datatable.vide' | translate ,
                   totalMessage: 'global.commun.composant.datatable.total' | translate
                   }"
            [rowHeight]="'auto'"
            [rows]="page.content"
            [externalPaging]="true"
            [count]="page.totalElements"
            [offset]="page.number"
            [limit]="page.size"
            (page)="changerPage($event)"
            #datatableComponent
            class="bootstrap table-bordered col-12 mx-0 px-0 mb-3 w-100 ">

            <!-- dateActeAuthentique -->
            <ngx-datatable-column [flexGrow]="5"
                                  [name]="'gestion.vente.date.acte.authentique' | translate"
                                  class="pr-0">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.dateActeAuthentique | date: 'dd/MM/yyyy' }}
                </ng-template>
            </ngx-datatable-column>

            <!-- numeroVoie -->
            <ngx-datatable-column [flexGrow]="5"
                                  [name]="'gestion.adresse.numero' | translate"
                                  class="pr-0">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.adresse.numeroVoie  }}
                </ng-template>
            </ngx-datatable-column>

            <!-- nomVoie -->
            <ngx-datatable-column [flexGrow]="5"
                                  [name]="'gestion.adresse.nom.voie' | translate"
                                  class="pr-0">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.adresse.nomVoie  }}
                </ng-template>
            </ngx-datatable-column>

            <!-- origine -->
            <ngx-datatable-column [flexGrow]="5"
                                  [name]="'gestion.vente.origine' | translate"
                                  class="pr-0">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.origine.libelle }}
                </ng-template>
            </ngx-datatable-column>
            <!-- bouton afficher / masquer des colonnes --->
            <ngx-datatable-column [draggable]="false"
                                  [flexGrow]="1"
                                  [resizeable]="false"
                                  cellClass="text-center">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <fa-icon (click)="modifierVente(row)" [icon]="faEdit"></fa-icon>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-footer>
                <ng-template
                    ngx-datatable-footer-template
                    let-rowCount="rowCount"
                    let-pageSize="pageSize"
                    let-selectedCount="selectedCount"
                    let-curPage="curPage"
                    let-offset="offset"
                    let-isVisible="isVisible">
                    <datatable-pager
                        pagerLeftArrowIcon="datatable-icon-left"
                        pagerRightArrowIcon="datatable-icon-right"
                        pagerPreviousIcon="datatable-icon-prev"
                        pagerNextIcon="datatable-icon-skip"
                        [page]="curPage"
                        [size]="pageSize"
                        [count]="rowCount"
                        [hidden]="!((rowCount / pageSize) > 1)"
                        (change)="datatableComponent.onFooterPage($event)">
                    </datatable-pager>
                </ng-template>
            </ngx-datatable-footer>
        </ngx-datatable>
    </div>
</div>

