<div *ngIf="toasts.length > 0" class="flyover">
  <ng-container *ngFor="let toast of toasts">
    <div class="row notify {{toast.level}} m-2"
         style="cursor: pointer;">
      <div class="col col-2 notif-icon">
      </div>
      <div class="col col-10 notif-label p-4">
        <p *ngIf="toast.options.title" class="text-uppercase font-weight-bold"><span
            translate>{{toast.libelle}}</span></p>
        {{toast.message}}
        <i aria-hidden="true" id="btnFermerToast" (click)="closeToast(toast)"
           class="fa fa-times position-absolute"></i>
      </div>
    </div>
  </ng-container>
</div>
